.recommend-item .product-img {
    width: 180px;
}
.auc-Recommend-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.recommend-item .product-name {
    height: 50px;
    width: 110px;
    margin: 0 auto;
}
.recommend-component {
    margin-bottom: 80px;
}

#relatedProducts .auc-Recommend-list,
#frequentlyBoughtTogether .auc-Recommend-list,
#lookingSimilar .auc-Recommend-list,
.trendsItem .auc-Recommend-list {
    flex-wrap: wrap;
    justify-content: flex-start;
}
#relatedProducts li, #frequentlyBoughtTogether li, #lookingSimilar li, .trendsItem li {
    display: flex;
    justify-content: center;
    width: 16.66666667%;
}
#relatedProducts li a, #frequentlyBoughtTogether li a, #lookingSimilar li a, .trendsItem li a {
    color: inherit;
    display: block;
}

#relatedProducts .product-name,
#frequentlyBoughtTogether .product-name,
#trendItems .product-name,
#lookingSimilar .product-name,
.trendsItem .product-name {
    text-align: center;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 42px;
    height: 42px;
    white-space: normal;
    line-height: 2rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
#trendItems a, #trendItems a:hover, .trendsItem a, .trendsItem a:hover{
    color:#333;
}
.auc-Recommend-item .product-details {
    text-align: center;
}
#trendItems .auc-Recommend-list{
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product-details .recommend-item .action.primary, .action-primary{
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    color: #666666;
}
.product-details .recommend-item .action.primary:hover, .action-primary:hover {
    border-color: #1979c3;
    background: #1979c3;
    color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1023px) {
    #relatedProducts li, #frequentlyBoughtTogether li, #trendItems li, #lookingSimilar li {
        width: 33.33333333%;
    }
}
@media (max-width: 767px) {
    #relatedProducts li, #frequentlyBoughtTogether li, #trendItems li, #lookingSimilar li {
        width: 50%;
    }
}
h3.auc-Recommend-title {
    padding: 20p;
    padding-bottom: 20px;
}
